Podatki iz csv-ja o študentskih delih

In [38]:
import pandas as pd

pd.set_option('display.max_rows', 10)

%matplotlib inline

DELA = pd.read_csv("studentska_dela.csv", index_col="delo")

In [39]:
DELA

,plača neto,kraj,delovnik,trajanje
delo,,,,
ADMINISTRATIVNA DELA,6.20 €/h neto,LJUBLJANA,DOPOLDAN,DLJE ČASA (ZAČ. IN OBČ. DELO)
POMOČ PRI PRODAJI,6.20 €/h neto,LJUBLJANA ŠIŠKA,IZMENSKO,DLJE ČASA (ZAČ. IN OBČ. DELO)
POUČEVANJE,9.30 €/h neto,LJUBLJANA,POPOLDAN,DLJE ČASA (ZAČ. IN OBČ. DELO)
POUČEVANJE,9.30 €/h neto,LJUBLJANA,POPOLDAN,DLJE ČASA (ZAČ. IN OBČ. DELO)
POUČEVANJE,9.30 €/h neto,LJUBLJANA,POPOLDAN,DLJE ČASA (ZAČ. IN OBČ. DELO)
...,...,...,...,...
STREŽBA,7.25 €/h neto,KAMNIK,IZMENSKO,DLJE ČASA (ZAČ. IN OBČ. DELO)
STREŽBA,6.50 €/h neto,MARIBOR,PO DOGOVORU,PO DOGOVORU
STREŽBA,8.00 €/h neto,LJUBLJANA,IZMENSKO,DLJE ČASA (ZAČ. IN OBČ. DELO)
ZDRAVSTVENA NEGA,6.31 €/h neto,LENDAVA,DOPOLDAN,DLJE ČASA (ZAČ. IN OBČ. DELO)
STREŽBA,8.00 €/h neto,LJUBLJANA,PO DOGOVORU,DLJE ČASA (ZAČ. IN OBČ. DELO)

Najbolj plačana dela

In [40]:
DELA["plača neto"] = DELA["plača neto"].str.extract(r'(\d+\.\d+)').astype(float)
DELA[['plača neto']].sort_values("plača neto", ascending=False).dropna(subset=["plača neto"])

                     plača neto
delo
TRENER/KA                  20.0
POUČEVANJE                 20.0
TRENER/KA                  20.0
TRENER/KA                  20.0
VADITELJ/ICA               20.0
...                         ...
DIGITALNI MARKETING         6.2
GRADBENA DELA               6.2
MONTAŽA                     6.2
PRODAJA                     6.2
NEGOVANJE                   6.2

[1895 rows x 1 columns]